.fixed-width{
    width: 96%;
    max-width: 1500px;
    margin: auto;
    display: flex;
}

.sidebar-icons button i{
    font-size: 18px;
    padding: 13px;
}

.sidebar-icons button{
    border: none;
    padding: 0%;
    background-color: transparent;
    display: block;
    margin-bottom: 18px;
}

.part{
    border: 1px solid #475569;
    border-radius: 5px;
    transition: all 0.3s ease; 
}

.part:hover{
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
    transform: scale(0.98);
    cursor: pointer;
}

.part:hover .part-heading, .part:hover .part-content{
    transform: translateX(20px);
}





.part-heading, .part-content {
    transition: all 0.3s ease; 
}

.part-heading{
    font-size: 18px;
    font-weight: bold;
}

p{
    margin: 0;
    font-size: 17px;
}

.part-inner-heading{
    
    margin: 0;
    padding-top: 7px;
    padding-bottom: 5px;
}

.part-list li{
    list-style: none;
}

.part-list li::before{ 
    content: "\00BB"; 
    padding-right: 10px;
} 

.sidebar-text{
    padding-right: 30px;
    padding-left: 13px;
    white-space: nowrap;
    padding-top: 11px;
    font-weight: bold;
}

.sidebar-text:hover{
    cursor: pointer;
    font-size: 17px;
}


.sidebar-bg {
    position: fixed; /* Fixed position to keep it visible while scrolling */
    top: 0;
    left: 0;
    height: 100vh; /* Full height of the viewport */
    width: 20%; /* 30% width of the viewport */
    z-index: 1; /* Ensure it appears above other content */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
    border-right: 1px solid #475569;
    
    
    
}
.sidebar{
    z-index: 2;
    transition: all 0.3s ease; 
    
}

.main-content-heading{
    font-weight: bold;
    font-size: 18px;
}

.main-content-heading:hover{
    transform: scale(1.03);
}

.select-text{
    font-weight: bold;
    font-size: 15px;
    padding-top: 5px;
}



.row-div-icons i:hover{
    cursor: pointer;
    transform: scale(1.1);
    transform: translateY(-2px);
}